:root {
  /* --hs-links: 48 100%; */
  --color-background: hsl(230, 33%, 21%);
  --color-body-text: hsl(230, 58%, 82%);
  --color-heading-text: hsl(60, 100%, 100%);
  --color-white: hsl(0, 0%, 100%);
  --color-primary: hsl(18, 60%, 83%);
  --color-primary-foreground: hsl(230, 33%, 21%);

  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  /* --color-links: hsl(var(--hs-links) 50%);
  --color-links-hover: hsl(var(--hs-links) 45%);
  --color-border: hsl(277, 85%, 38%);
  --color-invalid: hsl(356, 100%, 71%);
  --gradient-background: radial-gradient(
    circle,
    rgba(152, 11, 238, 1) 0%,
    rgba(118, 15, 181, 1) 35%,
    rgba(58, 13, 85, 1) 100%
  );*/
  --font-body: 'Poppins', sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  /* --font-display: baloo, var(--font-body);  */
}

body {
  color: var(--color-body-text);
  background-color: var(--color-background);

  font-family: var(--font-body);
}

.dark-theme {
  --color-background: var(--blue1);
  --color-body-text: var(--slate12);
  --color-heading-text: var(--indigo12);
  --color-white: hsl(0, 0%, 100%);
  --color-primary: var(--blue11);
}

/**

    [CSS custom variables set example]

    --color-text: hsl(0deg, 0%, 100%);
    --color-background: hsl(210deg, 30%, 8%);
    --color-blurred-background: hsla(210deg, 30%, 8%, 0.85);
    --color-primary: hsl(230deg, 100%, 67%);
    --color-secondary: hsl(333deg, 100%, 52%);
    --color-tertiary: hsl(53deg, 100%, 50%);
    --color-decorative: hsl(200deg, 50%, 60%);
    --color-muted: hsl(210deg, 38%, 15%);
    --color-muted-background: hsla(210deg, 38%, 15%, 0.85);
    --color-info: hsl(230deg, 100%, 67%);
    --color-success: hsl(160deg, 100%, 40%);
    --color-success-background: hsla(160deg, 100%, 40%, 0.1);
    --color-error: hsl(340deg, 95%, 60%);
    --color-error-background: hsla(340deg, 95%, 43%, 0.1);
    --color-alert: hsl(30deg, 100%, 50%);
    --color-alert-background: hsla(38deg, 100%, 50%, 0.1);
    --color-venn-0: hsl(250deg, 100%, 50%);
    --color-venn-1: hsl(175deg, 100%, 50%);
    --color-gray-100: hsl(210deg, 15%, 20%);
    --color-gray-200: hsl(210deg, 15%, 25%);
    --color-gray-300: hsl(210deg, 10%, 40%);
    --color-gray-400: hsl(210deg, 9%, 45%);
    --color-gray-500: hsl(210deg, 8%, 50%);
    --color-gray-600: hsl(210deg, 12%, 55%);
    --color-gray-700: hsl(210deg, 14%, 66%);
    --color-gray-900: hsl(210deg, 25%, 88%);
    --color-gray-1000: hsl(210deg, 25%, 96%);
    --color-subtle-background: hsl(210deg, 30%, 8%);
    --color-subtle-floating: hsl(210deg, 22%, 15%);
    --color-homepage-light: hsla(200deg, 100%, 85%, 0);
    --color-homepage-dark: hsla(200deg, 100%, 85%, 0.1);
    --color-homepage-bg: hsl(210deg, 30%, 8%);
    --syntax-bg: hsl(210deg, 30%, 12%);
    --syntax-highlight: hsl(210deg, 30%, 18%);
    --syntax-txt: #FFF;
    --syntax-comment: #6c8998;
    --syntax-prop: #FF39A8;
    --syntax-bool: #FFD600;
    --syntax-val: #61747D;
    --syntax-str: rgb(155, 109, 255);
    --syntax-name: #C653FF;
    --syntax-del: #FF5555;
    --syntax-regex: #ffd700;
    --syntax-fn: rgb(0, 190, 255);
    --prefers-dark: true;
}
<style>
:root {
    --font-weight-bold: 600;
    --font-weight-medium: 500;
    --font-weight-light: 400;
    --font-family: "Wotfard",Futura,-apple-system,sans-serif;
    --font-family-mono: "League Mono","Fira Mono",monospace;
    --font-family-spicy: "Sriracha","Wotfard",Futura,-apple-system,sans-serif;
    --reach-dialog: 1;


*/